<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
  <a href="#" class="p-1 mr-1" (click)="toggleSidebar()"><i class="fas fa-bars fa-2x"></i></a>
  <h5 
  class="my-0 mr-md-auto font-weight-normal" 
  [routerLink]="['/']">Food Shop</h5>
  <div class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" href="#">Features</a>
    <a class="p-2 text-dark" href="#">Enterprise</a>
    <a class="p-2 text-dark" href="#">Support</a>
    <a class="p-2 text-dark" href="#">Pricing</a>
    <!-- <a class="btn btn-outline-primary" href="#">Sign up</a> -->
  </div>
  <nb-user
    class="cursor-pointer"
    size="large"
    name="John Doe"
    title="Administrator"
    [nbContextMenu]="items"
    nbContextMenuTag="admin-avatar-click">
    
  </nb-user >

</div>