<div class="row mb-2">
  <div class="col-md-12">
    <h2>Order Submitted, Waiting for confirmation from chef...</h2>
    <div class="card flex-md-row mb-4 box-shadow h-md-250">
      <div class="card-body d-flex flex-column align-items-start">
        <h5 class="mb-0">
          <a class="text-dark">Delivering to Address-</a>
        </h5>
        <ul class="list-unstyled mt-3 mb-4 text-dark">
          <li>{{order.shippingData.firstName}} {{order.shippingData.lastName}}</li>
          <li>{{order.shippingData.address1}} {{order.shippingData.address2}}</li>
          <li>{{order.shippingData.city}} {{order.shippingData.zip}}</li>
          <li>Contact - {{order.shippingData.contact}} | {{order.shippingData.email}}</li>
        </ul>
      </div>
    </div>

    <div class="card flex-md-row mb-4 box-shadow h-md-250">
      <div class="card-body d-flex flex-column align-items-start">
        <h5 class="mb-2">
          <a class="text-dark">Items-</a>
        </h5>
        <div class="col-lg-6 col-xs-12">
          <app-mini-cart-inine-item 
            *ngFor="let item of order.cartData.cartItems.valid" 
            [item]="item" [showBtns]="false">
          </app-mini-cart-inine-item>
        </div>
      </div>
    </div>
  </div>

  {{order| json}}
</div>