<app-modal title="Login or Signup to order">

    <form #loginForm="ngForm" *ngIf='!showSignup'>
        <div class="form-group">
            <label for="loginUserEmail">Email address</label>
            <input type="email" 
                class="form-control" 
                id="loginUserEmail"
                name="loginUserEmail"
                ngModel 
                aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted hidden">Please enter correct email.</small>
        </div>
        <div class="form-group">
            <label for="loginUserPassword">Password</label>
            <input type="password" 
                class="form-control" 
                id="loginUserPassword"
                name="loginUserPassword"
                ngModel 
                placeholder="Password">
        </div>
        <div class="form-check">
            <input type="checkbox" 
                class="form-check-input" 
                id="remeberCheckbox">
                ngModel
            <label class="form-check-label" for="remeberCheckbox">Remember me</label>
        </div>
        <button class="btn btn-primary" (click)="login(loginForm)">Login</button>
        <button class="btn btn-success ml-2" (click)="showSignup = true">Signup</button>
    </form>

    <form #signUpForm="ngForm" *ngIf='showSignup'>
        <div class="form-group">
            <label for="userName">User Name</label>
            <input type="text"
             class="form-control" 
             name="userName"
             id="userName" 
             ngModel
             aria-describedby="userHelp" placeholder="Enter User Name">
            <small id="userHelp" class="form-text text-muted">Your unique nick name for this site..</small>
        </div>
        <div class="form-group">
            <label for="userEmail">Email address</label>
            <input type="email"
            name="userEmail"
            class="form-control"
            id="userEmail"
            ngModel
            aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password"
            class="form-control"
            id="password"
            ngModel
            name="password"
            placeholder="Password">
        </div>
        <div class="form-group">
            <label for="passwordConf">Password Confirmation</label>
            <input type="password" 
            class="form-control" 
            id="passwordConf" 
            ngModel
            name="passwordConf" 
            placeholder="Password">
        </div>
        <button class="btn btn-primary" (click)="signup(signUpForm)">Signup</button>
        <button class="btn btn-success ml-2" (click)="showSignup = false">Login</button>
        <button class="btn btn-success ml-2" (click)="dummy()">Dummy</button>
    </form>






    <!-- <form (ngSubmit)="onSubmit(l)" #l="ngForm" *ngIf='!showSignup'>
        <p>Email / Username</p>
        <input type="text" name="userName" ngModel placeholder="User Name or Email" required />
        <p>password</p>
        <input type="password" name="password" ngModel placeholder="" required />
        <button>Login</button>
        <button (click)="showSignup = true">Signup</button>
    </form> -->
    <!-- <form *ngIf='showSignup'>
        <p> Username</p>
        <input type="text" name="userName" ngModel placeholder="Enter User Name" required />
        <p> Email</p>
        <input type="text" name="userName" ngModel placeholder="Enter email" required />
        <p>password</p>
        <input type="password" name="password" ngModel placeholder="" required />
        <p>password confirmation</p>
        <input type="password" name="passwordConf" ngModel placeholder="" required />
        <button>Signup</button>
        <button (click)="showSignup = false">Login</button>
    </form> -->
</app-modal>