<app-modal title="Login or Signup to order" hideModalFooter="true">

  <form #loginForm="ngForm" *ngIf='!showSignup'>
    <div class="form-group">
      <label for="loginUserEmail">Email / Username</label>
      <input 
        type="text"
        class="form-control" required id="loginUserEmail" name="loginUserEmail" ngModel
        aria-describedby="emailHelp" placeholder="Enter email">
    </div>
    <div class="form-group">
      <label for="loginUserPassword">Password</label>
      <input type="password" name="loginUserPassword"  class="form-control" required id="loginUserPassword" ngModel
        placeholder="Password">
    </div>
    <div class="form-check">
      <input type="checkbox" ngModel name="remeberCheckbox" class="form-check-input" id="remeberCheckbox">
      <label class="form-check-label" for="remeberCheckbox">Remember me</label>
    </div>
    <button class="btn btn-primary mt-3"
      [disabled]="loginForm.invalid"
      (click)="login(loginForm)">Login</button>
    <button class="btn btn-success mt-3 ml-3" (click)="showSignup = true">Signup</button>
  </form>

  <form #signUpForm="ngForm" *ngIf="showSignup" (ngSubmit)="signup(signUpForm)">
    <div class="form-group">
      <label for="name">User Name</label>
      <input type="text" class="form-control" name="name" required id="name" ngModel aria-describedby="userHelp"
        placeholder="Enter User Name">
      <small id="userHelp" class="form-text text-muted">Your unique nick name for this site..</small>
    </div>
    <div class="form-group">
      <label for="userEmail">Email address</label>
      <input type="email" name="userEmail" class="form-control" required id="userEmail" ngModel
        aria-describedby="emailHelp" placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" required ngModel name="password" placeholder="Password">
    </div>
    <div class="form-group">
      <label for="passwordConf">Password Confirmation</label>
      <input type="password" class="form-control" id="passwordConf" required ngModel name="passwordConf"
        placeholder="Password">
      <small
         *ngIf="signUpForm.touched && signUpForm.value.password !== signUpForm.value.passwordConf"
          class="form-text text-danger">Passwords do not match.</small>
    </div>
    <button class="btn btn-primary" 
      [disabled]="signUpForm.invalid && signUpForm.value.password !== signUpForm.value.passwordConf">Signup</button>
    <button class="btn btn-success ml-2" (click)="showSignup = false">Login</button>
  </form>

</app-modal>