.food-banner {
    height: 30em;
    margin: 0 -36px;
    background-image: url('../../assets/images/good-food.png');
     background: url('https://lh4.googleusercontent.com/aUz5-A_2erjdysWpPs-jROLfayZpq2OtkDwBU3FC8YDZk_tNojm-pqHHzQ8=w1200-h630-p') fixed center no-repeat;
     background-size: cover;
 }